<footer>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Leeslijst</a></li>
        <li><a href="#">Uitleningen</a></li>
        <li><a href="#">Reserveringen</a></li>
        <li><a href="#">Betalingen</a></li>
    </ul>
    <img src="https://mijn-oba-rc.netlify.app/oba-logo-blauw.webp">
</footer>