<%- include('partials/head')%>
<%- include('partials/navigatie')%>

<body>
    <main>
        <style>
            .favorieten {
                padding: 10rem;
            }
        </style>
        <ul class="favorieten">
            <% items.forEach(item => { %>
                <li>
                    <h3><%= item.title %></h3>
                </li>
            <% }); %>
        </ul>
        
    </main>
</body>

<%- include('partials/footer')%>
