<%- include('partials/head')%>
<section class="user_section">
    <img class="oba_logo" src="https://mijn-oba-rc.netlify.app/oba-logo-blauw.webp">
    <h1>Selecteer een profiel</h1>
    <ul class="user_select">
    <% apiUser.forEach(function(profile) { %>
        <li>
            <img 
            onclick="window.location.href='./home'" 
            src="https://fdnd-agency.directus.app/assets/<%= profile.avatar%>"
            />
            <h2><%= profile.name %></h2>
            <h2><%= profile.id %></h2>
            
        </li>
    <% }); %>
    </ul>
</section>